<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeFinder</title>

    <link rel="shortcut icon" href="/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">

    <meta name="description" content="Discover details about your favorite animes with AnimeFinder. Complete information, trailers, and much more!">
    <meta name="author" content="Berghz G">


    <link rel="stylesheet" href="/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <style>
        h1 {
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-fluid containerfluid11">
        <div class="menu">
            <nav class="navbar navbar-expand navbar-light">
                <a href="/" class="navbar-brand">
                    <img src="/images/Logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto"> 
                        <li class="nav-item active"> 
                            <a class="nav-link" href="https://berghzg.com">About</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="/search">Find</a> 
                        </li> 
                        <li class="nav-item"> 
                            <a class="nav-link" href="https://berghzg.com/projects">Other Projects</a> 
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row g-0">
            <div class="col-md-6 image-container">
                <img src="/images/Every-Night.png" alt="image of the main character of the site">
                <div class="text-overlay d-block d-md-none">
                    <h1>Welcome to AnimeFinder!</h1>
                    <p>Ready to find your next favorite anime? Upload an image or GIF below!</p>
                    <form action="/upload" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="fileInput">Choice a file:</label>
                            <input type="file" class="form-control-file" name="file" id="fileInput">
                            <button type="submit" class="enviar btn btn-primary mt-2"> 
                                <i class="bi bi-upload"></i> Send 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Texto no lado direito -->
            <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center text-center">
                <div class="back">
                        <div class="text-overlay">
                            <h1>Welcome to AnimeFinder!</h1>
                            <p>Ready to find your next favorite anime? Upload an image or GIF below!</p>
                            <form action="/search" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="fileInput">Choose a file (Image or GIF):</label>
                                    <input type="file" class="form-control-file" name="image" id="fileInput" accept="image/*,.gif">
                                    <button type="submit" class="enviar btn btn-primary mt-2"> 
                                        <i id="iconeSearch" class="bi bi-upload"></i> Enviar 
                                    </button>
                                </div>
                            </form>                                                     
                        </div> 
                </div>
            </div>
        </div>
    </div>

    <% if (recentSearches.length > 0) { %>
        <div class="carroselflu container-fluid">
            <h2 class="h2index text-center my-4">Recently Searched Animes</h2>
            <div id="animeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% for (let i = 0; i < recentSearches.length; i += 3) { %>
                        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                            <div class="d-flex justify-content-center">
                                <% for (let j = i; j < i + 3 && j < recentSearches.length; j++) { %>
                                    <div class="card mx-2 card11" style="width: 18rem;">
                                        <a href="/details/<%= encodeURIComponent(recentSearches[j].title) %>">
                                            <img src="<%= recentSearches[j].coverImage %>" class="card-img-top" alt="<%= recentSearches[j].title %>">
                                        </a>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#animeCarousel" data-bs-slide="prev">
                    <div class="botoespassa">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </div>
                    
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#animeCarousel" data-bs-slide="next">
                    <div class="botoespassa">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </div>
                    
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>

    <% } %>    

    <% if (noticias && noticias.length > 0) { %>
        <div style="padding: 20px;">
            <h2 style="font-variant: small-caps; padding-bottom: 15px;">News</h2>
            <% noticias.forEach(function(noticia) { %>
                <div class="noticia-item">
                    <div class="noticia-imagem">
                        <a href="<%= noticia.url %>" target="_blank">
                            <img src="<%= noticia.image_url %>" alt="<%= noticia.title %>" class="noticia-img">
                        </a>
                        
                    </div>
                    <div class="noticia-texto">
                        <h3 style="color: rgb(22, 8, 8);"><a href="<%= noticia.url %>" class="custom-link" target="_blank"><%= noticia.title %></a></h3>
                        <p><%= noticia.description %></p>
                        <p>Por: <%= noticia.source %></p>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } else { %>
        <p>Nenhuma notícia encontrada.</p>
    <% } %>         
    
    <%- include('partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>