<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMate | <%= book.title %></title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body style="background-color: black;">
    <div id="preloader"></div>

    <div class="container-fluid">
        <nav class="navbar navbar-dark" style="padding-left: 9px;">
            <a class="navbar-brand" href="/">
                <img id="imgindex" src="/images/logo1.png" alt="BookMate Logo">
            </a>
            <div class="dropdown" style="width: 70px;">
                <button 
                    class="btn btn-dark dropdown-toggle" 
                    type="button" 
                    id="userMenuButton" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                >
                    <i class="bi bi-person-circle fs-4"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                    <li><a class="dropdown-item" href="/profile">My Perfil</a></li>
                    <li><a class="dropdown-item" href="/settings">Notification</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div style="margin-top: 50px;">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img style="border-radius: 7px;" src="<%= book.cover %>" alt="<%= book.title %> cover">
                    <div class="star-container" data-rating="<%= rating %>">
                        <svg class="star" id="star1"></svg>
                        <svg class="star" id="star2"></svg>
                        <svg class="star" id="star3"></svg>
                        <svg class="star" id="star4"></svg>
                        <svg class="star" id="star5"></svg>
                        
                        <p class="star-rating"><%= parseFloat(rating).toFixed(1) %></p>

                    </div>
                </div>

                <div class="col-md-4 book2">
                    <div class="text-left">
                        <p id="format"><%= book.formats %></p>
                        <h2 id="titleh2"><%= book.title %></h2>
                        <h5 id="h2book"><%= book.author %></h5>
                        <p class="pbook">Pages: <%= book.number_of_pages %></p>
                        <p class="pbook">First Publish Year: <%= book.first_publish_year %></p>
                        <p class="pbook">Publisher: <%= book.publisher %></p>
                    </div>
                </div>
                
                <div class="col-md-4 book2">
                    <div style="padding: 15px;">
                        <p class="pbook">ISBN: <%= book.firstIsbn %></p>
                        <% if (book.id_amazon !== 'Not Available') { %>
                            <div>
                                <a href="https://www.amazon.com.br/dp/<%= book.id_amazon %>" class="amazon-link" target="_blank">See on Amazon <i class="bi bi-amazon"></i></a>
                            </div>
                            
                        <% } %>
                        <div style="padding-top: 15px;" class="d-flex align-items-center">
                            <div class="dropdown">
                                <button style="margin-right: 7px;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Reading Status
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#" data-status="Want to Read">Want to Read</a></li>
                                    <li><a class="dropdown-item" href="#" data-status="Reading">Reading</a></li>
                                    <li><a class="dropdown-item" href="#" data-status="Finished">Finished</a></li>
                                    <li><a class="dropdown-item" href="#" data-status="Dropped">Dropped</a></li>
                                </ul>
                            </div>

                            <button title="Click here to give your opinion" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullscreenModal">+</button>
                        </div>
                        <!-- Fullscreen Modal -->
                        <div class="modal fade dark-modal" id="fullscreenModal" tabindex="-1" aria-labelledby="fullscreenModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-fullscreen">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="fullscreenModalLabel"><%= book.title %> Note</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Your content here -->
                                        <p>Content goes here...</p>

                                        <div class="d-flex">
                                            <fieldset class="ratings">
                                                <input type="radio" name="ratings" id="stars5" value="5">
                                                <label for="stars5" class="full" title="5 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars4half" value="4.5">
                                                <label for="stars4half" class="half" title="4.5 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars4" value="4">
                                                <label for="stars4" class="full" title="4 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars3half" value="3.5">
                                                <label for="stars3half" class="half" title="3.5 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars3" value="3">
                                                <label for="stars3" class="full" title="3 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars2half" value="2.5">
                                                <label for="stars2half" class="half" title="2.5 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars2" value="2">
                                                <label for="stars2" class="full" title="2 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars1half" value="1.5">
                                                <label for="stars1half" class="half" title="1.5 Stars"></label>

                                                <input type="radio" name="ratings" id="stars1" value="1">
                                                <label for="stars1" class="full" title="1 Stars"></label>
    
                                                <input type="radio" name="ratings" id="stars0half" value="0.5">
                                                <label for="stars0half" class="half" title="0.5 Stars"></label>
                                            </fieldset>

                                            <p  style="margin-top: 12px" class="starrating">1.5</p>
                                        </div>
                                        <textarea name="message" rows="5" cols="30" placeholder="Escreva sua mensagem aqui"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  style="padding: 33px 25px;" class="container-fluid">
        <div class="row">
            <div class="col-md-6 book2 descri">
                <h3 class="h3boo">Description</h3>
                <p><%= description %></p>
            </div>
            <div class="col-md-6 book2">
                <h3 class="h3boo">Genres</h3>
                <ul class="genre-list">
                    <% book.genre.forEach(genre => { %>
                        <li class="genre-item"><%= genre %></li>
                    <% }) %>
                </ul>                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Aba de notas -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function displayStar(rating) {
            const fullStar = Math.floor(rating);
            const halfStar = rating % 1 >= 0.5;
    
            for (let i = 1; i <= 5; i++) {
                let star = document.getElementById(`star${i}`);
                if (i <= fullStar) {
                    star.innerHTML = `<polygon points="12,2 15,10 22,9 17,14, 18,21, 12,18 6,21 7,14 2,9 9,10" />`;
                    star.style.fill = "gold";
                } else if (i === fullStar + 1 && halfStar) {
                    star.innerHTML = `
                                    <defs>
                                        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                            <stop offset="50%" style="stop-color: gold; stop-opacity: 1" />
                                            <stop offset="50%" style="stop-color: lightgray; stop-opacity: 1" />
                                        </linearGradient>
                                    </defs>
                                    <polygon points="12,2 15,10 22,9 17,14 18,21 12,18 6,21 7,14 2,9 9,10" fill="url(#grad1)" />
                                `;
                } else {
                    star.innerHTML = `<polygon points="12,2 15,10 22,9 17,14, 18,21, 12,18 6,21 7,14 2,9 9,10" fill="lightgray" />`;
                }
            }
        }
    
        document.addEventListener('DOMContentLoaded', () => {
            const starContainer = document.querySelector('.star-container');
            const rating = parseFloat(starContainer.dataset.rating); // Recupera e converte o valor
            displayStar(rating); // Usa o valor para exibir as estrelas
        });

        var loader = document.getElementById("preloader")
        window.addEventListener("load", function() {
            loader.style.display = "none"
        })

        document.querySelectorAll(".dropdown-item").forEach(item => {
            item.addEventListener("click", async event => {
                event.preventDefault();

                const status = event.target.getAttribute("data-status");
                const button = document.getElementById("dropdownMenuButton1");
                const originalText = button.innerHTML;

                // Mostra um ícone de loading enquanto processa
                button.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Updating...';

                try {
                    const response = await fetch("/update-book-status", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ title: "<%= book.title %>", status }) // Substitua pelo título correto no EJS
                    });

                    const result = await response.json();
                    if (result.success) {
                        // Atualiza com ícone de sucesso
                        button.innerHTML = '<i style="color: rgb(17, 226, 17);" class="bi bi-check-circle-fill"></i> Updated!';
                    } else {
                        // Atualiza com ícone de erro
                        button.innerHTML = '<i style="color:rgb(102, 9, 9);" class="bi bi-x-circle-fill"></i> Error!';
                    }
                } catch (error) {
                    console.error("Error:", error);
                    // Mostra ícone de erro em caso de falha na requisição
                    button.innerHTML = '<i class="bi bi-x-circle-fill text-danger"></i> Error!';
                }

                // Restaura o texto original após 2 segundos
                setTimeout(() => {
                    button.innerHTML = originalText;
                }, 2000);
            });
        });

        const inp = document.querySelectorAll("input[type='radio']")
        const p = document.querySelector(".starrating")
        inp.forEach(list => {
            list.addEventListener("click", () => {
                let star = document.querySelector("input[type='radio']:checked").value
                let col = (star < 3) ? "red":"lightgreen"
                p.textContent = star
                p.style.color = col
            })
        })
    </script>
</body>
</html>